{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-10 px-0">
        <h1 class="display-4 fst-italic">Информация о нас</h1>
        <p class="lead my-3">Трифонов Роман - Староста группы 2341. Контакты: 89021716224, theofftrfnv@mail.ru</p>
        <p class="lead my-3">Бочкарёв Константин - Студент группы 2341. Контакты:</p>
        <p class="lead my-3">Базаров Григорий - Студент группы 2341. Контакты: 89085986288, grisha.bazarov1111@gmail.com</p>
    </div>
</div>

{% endblock %}