{% extends 'base.html' %}

{% block title %}
Создание
{% endblock %}

{% block body %}
    <h1>Добавление поста</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Название поста"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Анонс поста"></textarea><br>
        <textarea name="body" id="body" class="form-control" placeholder="Текст"></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
{% endblock %}