{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Сайт на основе фреймворка Flask</h1>
<h5>Вас приветствует курсовая работа студентов третьего курса,
    направления Математического обеспечение и администрирование
    информационных систем.</h5>
<h5>Выполнили: </h5>
<h5>1. Трифонов Роман</h5>
<h5>2. Бочкарёв Константин</h5>
<h5>3. Базаров Григорий</h5>
<h5>Данная работа была написана с использованием
    различных пакетов, программного кода, баз данных и HTML. Уровень
    работы соответствует полученным в процесса разработки или
    полученным ранее знаниям в различных сфера.</h5>
{% endblock %}