{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-10 px-0">
      <h1 class="display-4 fst-italic">Сайт на основе фреймворка Flask</h1>
      <p class="lead my-3">Вас приветствует курсовая работа студентов третьего курса,
                            направления Математического обеспечение и администрирование
                            информационных систем. Данная работа была написана с использованием
                            различных пакетов, программного кода, баз данных и HTML. Уровень
                            работы соответствует полученным в процесса разработки или
                            полученным ранее знаниям в различных сфера.</p>
      <p class="lead mb-0"><a href="/about" class="text-white fw-bold">Информация о создателях</a></p>
    </div>
  </div>
{% endblock %}